.dog-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    max-width: 350px;
    border: 2px solid #300d38;
    margin-bottom: 20px;
    background-color:
        #fee3ba;
}

.dog-picture {
    border-bottom: 2px solid #300d38;
}

.section-under-picture {
    padding: 10px;
}

.filter-page {
    margin-top: 120px;
}

.filter-page-header {}

.filter-page-content {
    display: flex;
}

.filter-sidebar {
    flex: 1;
}

.filter-results {
    flex: 3;
}

.search-button,
.dropdown-button {
    width: 200px;
}

.dropdown-options {
    background-color: #f0f0f0;
    display: flex;
    text-align: left;
    /* border-top: 2px solid black; */
    border-left: 2px solid black;
    border-right: 2px solid black;
    /* height: 300px; */
}

.dropdown-options:not(:first-child) {
    border-top: 2px solid black;
}

.dropdown-text {
    /* border-top: 2px solid black; */
}

.options {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 300px;
    overflow-y: scroll;
}