.filter-page {
    margin-top: 120px;
}

.filter-page-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.filter-page-content {
    display: flex;
    flex-direction: column;
}


.filter-results {
    flex: 3;
}

.search-button,
.dropdown-button {
    width: 200px;
}

/* .results-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
} */

.pagination-buttons {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 375px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.previous-page-button,
.next-page-button {
    width: 140px;
}

.disabled {
    background-color: red;
}

.second-pagination-buttons {
    margin-top: 0px;
}

.results-header {
    margin-bottom: 10px;
}

.page-count-header {
    margin-bottom: 10px;
}