.filter-page {
    margin-top: 120px;
}

.filter-page-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.filter-page-content {
    display: flex;
    flex-direction: column;
}


.filter-results {
    flex: 3;
}

.search-button,
.dropdown-button {
    width: 200px;
}

/* .results-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
} */