.pagination-buttons {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 355px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
}

.previous-page-button,
.next-page-button {
    width: 140px;
}

.page-count-header {
    margin-bottom: 10px;
}

.results-header {
    margin-bottom: 10px;
}