.gallery-section {
    margin-bottom: 50px;
}

.gallery-header {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 1.7rem;
}

.gallery-subheading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 1.4rem;
}

/* .view-more-ig {
    margin-left: 5px;
    text-decoration: underline;
} */

section.gallery-1 .slider,
section.gallery-2 .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.gallery-1,
.gallery-2 {
    border-top: 2px solid #300d38;
    border-bottom: 2px solid #300d38;
}

.slider {
    /* width: 100% !important; */
}

.slide-track {
    display: flex;
    width: 200px;
    animation: scrollMobile 100s linear infinite;
}

.slide {
    height: 300px;
    width: 300px;
}

section.gallery-1 .slider .slide img,
section.gallery-2 .slider .slide img {
    /* height: 100%; */
    height: 300px;
    width: auto;
}

.gallery-2 {
    margin-top: 30px;
}

@keyframes scrollMobile {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1800px);
    }
}

/* @keyframes scrollRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(1800px);
    }
} */