.dog-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 500px;
    width: 330px;
    border: 2px solid #300d38;
    margin-bottom: 20px;
    background-color: #ffeed4;
}

.inner-dog-card {
    /* cursor: pointer; */
}

.dog-picture {
    margin: auto;
    margin-top: 20px;
    border: 2px solid #300d38;
    width: auto;
    min-height: 240px;
    max-height: 280px;
    max-width: 300px;
}

.section-under-picture {
    padding: 10px;
    padding-bottom: 20px;
}

.favorite-button {
    width: 150px;
    margin-top: 10px;
}